@{
  ViewData["Title"] = "Resumo";
}

<h3>View de Resumo</h3>

<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Nº do pedido: 12345678
                </h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h3>Seus dados</h3>
                <div>João da Silva</div>
                <div>(31) 99999-9987</div>
            </div>
            <div class="col-md-3">
                brenojab@gmail.com
            </div>
            <div class="col-md-6">
                <h3>Endereço de entrega</h3>
                <div>Rua Teste, 123</div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10">
                <h3>Item</h3>
                <div>REST</div>
            </div>
            <div class="col-md-2">
                <h3>Quatidade</h3>
                <div class="pull-right">1</div>
            </div>
        </div>
    </div>
</div>